[project]
name = "oc-security-camera-new"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.5",
    "pandas>=2.3.3",
    "psutil>=7.1.3",
    "pulp>=3.3.0",
    "pytest>=9.0.1",
    "ultralytics>=8.3.233",
]
